JWT_SECRET_KEY=your_jwt_secret_key_here
REDIS_PASSWORD=your_redis_password_here
MONGO_URI=mongodb://127.0.0.1:27017/premierLeagueDB
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port

# Local development requires Redis Stack server to support RedisJSON modules

MONGO_DB_NAME=premierLeagueDB
