# Node modules
node_modules

# Environment variables
.env

# Service token
service token.txt

# IDE settings
.idea

# Lock files
pnpm-lock.yaml
package-lock.json

# Google Cloud service account key
premier-noti-6028058f5902.json