<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Player</title>
</head>
<body>
<h1>Add Team</h1>
<form action="/team" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br><br>
    <label for="kit">Home kit:</label>
    <input type="color" id="kit" name="kit" value="#ff0000" required>
    <br><br>
    <label for="kit">Away kit:</label>
    <input type="color" id="kit" name="kit" value="#ff0000" required>
    <br><br>
    <label for="logo">logo:</label>
    <input type="text" id="logo" name="logo" required>
    <br><br>
    <label for="coach">Coach:</label>
    <select id="coach" name="coach" required>
    <!-- Use EJS syntax to iterate over teams and dynamically populate options -->
    <% coaches.forEach(function(coach) { %>
        <option value="<%= coach._id %>"><%= coach.name %></option>
    <% }); %>
    </select>
    <br><br>
    <button type="submit">Add Team</button>
</form>
</body>
</html>