
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a (click)="goToMap()" class="navbar-brand" >Google Map</a>
      <div *ngIf="type === 'admin'">
          <a (click)="goToAdminPage()" class="nav-link active" aria-current="page" >Database Operations</a>

      </div>
   
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            
        </ul>
      </div>
    </div>
  </nav>
<div class="overall">
    

        <div *ngFor="let operation of operations">
          <app-admin-dropdown [text]="operation"></app-admin-dropdown>
        </div>

 
  </div>