
<form *ngIf="showModifyComponent">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br><br>
    
    <div *ngIf="text!=='Delete'">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
        <br><br>
        <label for="nationality">Nationality:</label>
        <input type="text" id="nationality" name="nationality" required>
        <br><br>
        <label for="name">Team:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
    </div>
    <button type="submit">Add Coach</button>
</form>