
<form *ngIf="showModifyComponent" (ngSubmit)="onSubmit()">
    <div *ngIf="text === 'Delete'">
        <div class="overall">
            <label for="coach">Coach:</label>
            <div class="form-control">
                <!-- Use [(ngModel)] for two-way data binding -->
                <select class="form-select" id="dropdown" name="dropdown" [(ngModel)]="selectedCoach">
                    <option value="" disabled>Select a Coach</option>
                    <option *ngFor="let coach of coaches" [value]="coach.name" id="coach">{{ coach.name }}</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>

    <div *ngIf="text!=='Delete'">
        <div class="overall">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="name" required>
            <br><br>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" [(ngModel)]="age" required>
            <br><br>
            <label for="nationality">Nationality:</label>
            <input type="text" id="nationality" name="nationality" [(ngModel)]="nationality" required>
            <br><br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>

</form>
